:root {
  --color-bg-1: rgb(0, 32, 46);
  --color-bg-2: rgb(0, 63, 92);
  --color1: 255, 166, 0;
  --color2: 255, 133, 49;
  --color3: 255, 99, 97;
  --color4: 188, 80, 144;
  --color5: 138, 80, 143;
  --color-interactive: 146, 85, 255;
  --circle-size: 90%;
  --blending: lighten;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(40deg, var(--color-bg-1), var(--color-bg-2));
}

svg {
  display: none;
}

.gradient-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.circle-1 {
  position: absolute;
  background: radial-gradient(circle at center,
      rgb(var(--color1), 0.8) 0,
      rgb(var(--color1), 0) 30%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}

.circle-2 {
  position: absolute;
  background: radial-gradient(circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 40%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 170px);
  left: calc(50% - var(--circle-size) / 2 - 160px);
  opacity: 1;

  transform-origin: calc(50% - 300px);
  animation: moveInCircle 35s reverse infinite;
}

.circle-3 {
  position: absolute;
  background: radial-gradient(circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 35%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 - 50px);
  left: calc(50% - var(--circle-size) / 2 + 200px);
  opacity: 1;

  transform-origin: calc(50% + 300px);
  animation: moveInCircle 50s linear infinite;
}

.circle-4 {
  position: absolute;
  background: radial-gradient(circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 40%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 - 200px);
  left: calc(50% - var(--circle-size) / 2 + 300px);
  opacity: 1;

  transform-origin: calc(50% + 300px);
  animation: moveHorizontal 35s ease infinite;
}

.circle-5 {
  position: absolute;
  background: radial-gradient(circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 40%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 1;

  transform-origin: calc(50% + 300px);
  animation: moveInCircle 35s ease infinite;
}

.interactive-bubble {
  position: absolute;
  background: radial-gradient(circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 40%) no-repeat;
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;

}