.card {
    border-radius: 21px;
    background: #ffffff;
    box-shadow: 5px 5px 31px #cccccc,
        -5px -5px 31px #ffffff;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}